#*
/.*
*~
*pyc
*notes*
*.zip
derive_SNR*
compile_PCs.py
injectionrecovery_TEST.py
/n
/MAST
/TOIs
/Input
/__pycache__
/.ipynb_checkpoints
/plots
/Output
/srmp
Untitled*
main*py
gls.py
*tmp*
*test*
PCspreadsheet*.txt
PC*vetting*
Protspreadsheet.csv
sensitivity_analysis.ipynb
compute_sensitivity.py
injectionrecoveryORIG.py
vetting_flags.txt
/paper
SDEthresh*
planet_candidate*.ipynb
CHANGE*py
FLAG*py
toi*csv
Tmag_file.csv
compute_Pmax.ipynb
